.slider-bg-container {
  display: flex;
  flex-direction: column;
  background: #27272F;
  color: #fff;
  flex-basis: 70%;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 10px;
  flex-basis: 35%;
  margin: 10px;
}

.close-button {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background: #1B1B22;
  border: 1px solid #484851;
  border-radius: 10px;
  cursor: pointer;

}

.close-icon {
  font-size: 18px;
  color: white;
  
}

.feed-para-1 {
  font-size: 17px;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  
}

.feed-para-2 {
  font-size: 16px;
  border: 1px solid #484851;
  margin: 5px 20px;
  padding: 10px;
  margin-top: -7px;
  margin-bottom: 0px;
  border-radius: 7px;
  text-align: left;
  
}

.input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -5px;
}

.feed-para-3 {
  font-size: 17px;
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.feed-para-4 {
  font-size: 17px;
  margin-left: 10px;
}

.feed-para-5 {
  font-size: 19px;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
}


.slider-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: -30px;
  margin-top: 0px;
  height: 35vh;
  overflow-y: auto;
}

.slider-list-item {
  background-color: #1B1B22;
  border: 1px solid #484851;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 11px;
  margin-top: 0px;

}


.slider-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: flex-start;
}

.slider-image {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  margin-left: 20px;

}

.slider-name {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;

}

.slider-name-2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;

}

.slider-time {
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 5px;
  background-color: #27272F;
  padding: 1px 11px;
  border-radius: 10px;

}

.check {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 5px;
  background-color: #484851;

}

.down-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  background: #017EFA;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  width: 200px;
  margin: auto;
  margin-bottom: 20px;

}

.sync-icon {
  font-size: 25px;
  margin-right: 10px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .slider-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }

  .slider-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }


  .slider-image {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
  
  }

  .slider-time {
    text-align: center;
  
  }

  .down-btn {
    font-size: 15px;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
  
  }
  
}